---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="受験体験記とは"
	description="受験体験記についての説明"
	heroImage='/tachiko.png'
>
	<h2>起源</h2>
	<p>
		74期生によって発案され、製作がスタートしました。
	</p>
</Layout>
