---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="受験体験記とは"
	description="受験体験記についての説明"
	heroImage='/tachiko.png'
>
<style>
	h2{
		text-align: center;
	}
	h3{
		margin-top: 0.5em;
		font-size: 1.25em;
	}
	p{
		margin-top: 0em;
		margin-bottom: 1em;
		padding: 0;
	}
	ul{
		margin-top: -0.3em;
	}
</style>
	<h2>起源</h2>
	<p>
		「受験体験記」は2022年に立川高校を卒業した74期生が始めたプロジェクトです。<br>
		立川高校では受験期の終了後「進路懇談会」という名目で難関大学に合格した人たちが在校生に向けて講演をするイベントがあります。<br>
		しかし、このイベントでメッセージを伝えることができるのは受験を経験した人の中でも一握りであり、性質上在校生に伝えられる情報が「合格体験記」というやや偏ったものになってしまうという問題がありました。<br>
		そこで、より多くの人から、合否や進路先を問わず、広い意味での「受験体験記」を後輩たちに届けることに異議があるのではないか、という考えからこのプロジェクトが始まりました。<br>
		2022年の6月に、受験体験記は冊子の形で高校の進路室に寄贈されました。
	</p>
	<h2>目的</h2>
	<p>
		前述の通り、「広い意味での受験体験記」を後輩たちに届けることが目的です。<br>
		「合格体験記」との最大の違いは、生存者バイアスのない情報を提供することができることであると考えています。<br>
		「生存者バイアス」とは、ある事象に対して生き残った人たちだけが語ることで、その事象に対する誤ったり偏ったりした認識を生むバイアスのことです。今回「生き残る」とは、難関大学に合格することを指します。<br>
		「受験体験記」では、合否や志望校に行けたかなどといったことは全く関係なく、受験期での体験のありのままを後輩に伝えることを目指しています。
	</p>
	<h2>関わった人たち</h2>
	※アンケート回答のみは除いています。
	<h3>74期</h3>
	<ul>
		<li>うどん</li>
		<li>巻貝</li>
		<li>名無しの電子部品</li>
		<li>オレンジ</li>
		<li>わめ</li>
		<li>Hosakun</li>
		<li>このあ</li>
		<li>イケメソ</li>
		<li>ポニー</li>
		<li>はる</li>
		<li>うしうしのみ</li>
		<li>たまご</li>
		<li>ぜ</li>
		<li>A.T.</li>
		<li>ゆいさわ</li>
		<li>ゆうじて</li>
		<li>ぷぽぽ</li>
		<li>たかし</li>
		<li>ちゅっぱちゃっぷす</li>
		<li>すーさん</li>
		<li>かわくぼ</li>
		<li>ゆきを</li>
		<li>杉</li>
		<li>すぎ</li>
		<li>リョヒカックス</li>
		<li>少年</li>
		<li>むぎてさ</li>
		<li>TKT</li>
		<li>スギ</li>
		<li>立高生M</li>
		<li>ぶすじま</li>
		<li>文化優良生徒</li>
		<li>ぬ</li>
		<li>とくはる</li>
	</ul>
	<h3>75期</h3>
	<ul>
		<li>(匿名希望)</li>
		<li>金剛峯寺</li>
		<li>みー</li>
		<li>^o^^o^^o^</li>
	</ul>
	<h3>76期</h3>
	<ul>
		<li>なす</li>
	</ul>
	<h3>77期</h3>
	<ul>
		<li>TOT</li>
	</ul>
</Layout>
