---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<style>
		h1{
			text-align: center;
		}
		.title{
/*			font-size: 2.5em;*/
			font-size: 4vw;
		}
		@media (max-width: 720px){
			.title{
				font-size: 5vw;
			}
		}
		h2{
			font-family: Arial, sans-serif;
			padding: 2px;
			background-color: #7700ff3c;
		}
		ul{
			font-family: Arial, sans-serif;
			border-left: 4px solid rgb(255, 145, 0);
		}
		p{
			margin-bottom: 1em;
			padding: 0;
		}
	</style>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1 class="title">立川高校 受験体験記</h1>
			<p>
			立川高校の受験体験記を掲載しています。
			</p>
			<h2>掲載しているもの(予定含む)</h2>
			<ul>
				<li><a href="/archive/data/" target="_blank">受験データ</a></li>
				<li><a href="/archive/siboko-sinro-nenkan/" target="_blank">志望校・進路と年間の勉強</a></li>
				<li><a href="/archive/specia;/" target="_blank">特殊な受験形態について</a></li>
				<li><a href="/archive/ashiato/" target="_blank">受験の足跡</a></li>
				<li><a href="/archive/message/" target="_blank">後輩へのメッセージ</a></li>
			</ul>
			<h2>リンク集</h2>
			<ul>
				<li><a href="https://www.metro.ed.jp/tachikawa-h/" target="_blank">都立立川高校</a></li>
			</ul>
			<h2>このサイトの技術スタック</h2>
			<ul>
				<li><a href="https://astro.build/" target="_blank">Astro.js</a></li>
				<li>HTML</li>
				<li>CSS</li>
				<li>JavaScript</li>
				<li>TypeScript</li>
			</ul>
			<h2>連絡先</h2>
			<ul>
				<li>oniku.udon.029@gmail.com</li>
				<li>e9gp1ant_1729@au.com</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>